<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #212529;">

      <a style="text-decoration: none;" class="text-white" data-toggle="modal" data-target="#privacy_policy_modal" href="#">Политика конфиденциальности</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>